<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark" class="">
  <div class="content_container">
    <div
      class="image-holder"
      style="
        background-image: url('{{ movie.image_path }}');
      "
    >
      <div class="movie_info">
        <div class="movie_season">
          {{ movie.season }}
        </div>
        <div class="movie_title">
          {{ movie.title }}
        </div>
        <div class="movie_tags">
          @for(tag of movie.tags; track tag) {
          <span>
            {{ tag }}
          </span>
          }
        </div>
      </div>
    </div>
    <div class="button-holder">
      <button class="watch-button">Watch Now</button>
    </div>
    <div class="button-holder">
      <button
        [disabled]="movie.the_movie_fav"
        (click)="addToFav(movie.id)"
        class="watch-button fav"
      >
        add to fav
      </button>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-tabs></app-tabs>
</ion-footer>
