<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark" class="">
  <div class="content_container">
    <div
      class="image-holder"
      style="
        background-image: url('https://thumb.canalplus.pro/http/unsafe/1440x810/filters:quality(80)/img-hapi.canalplus.pro:80/ServiceImage/ImageID/97519416');
      "
    >
      <div class="movie_info">
        <div class="movie_season">
          {{ movie.season }}
        </div>
        <div class="movie_title">
          {{ movie.title }}
        </div>
        <div class="movie_tags">
          <span>15+</span>
          <span>Adventure</span>
          <span>Animation</span>
        </div>
      </div>
    </div>
    <div class="button-holder">
      <button class="watch-button">Watch Now</button>
    </div>
  </div>
</ion-content>
