.container {
  padding-bottom: 0;
  height: 100px;
  display: flex;
  align-items: center !important;
}

::ng-deep ion-toolbar.container ion-title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 30px;
}
