div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    div {
      display: flex;
      justify-content: center;
      ion-icon {
        font-size: 30px;
      }
    }
    p {
      margin: 0;
      font-size: small;
    }
  }
}

ion-toolbar {
  --background: black;
  // --color: white;
}
